*{
    background:#363030;
}
h1 {
    text-align: center;
    font-family: system-ui;
    font-weight: 5000;
    font-size: 30px;
    text-transform: uppercase;
    color:#a94438;
    
        
    
    }
.game{
    width: 255px;
    text-align: center;
    font-family: system-ui;
    color: white;
    margin: auto;
    font-weight: 500;
    
}
.title{
    background: #f25;
    padding: 5px 0;
    margin: 5px 0;
}
span{
    color: #fa0;
    font-weight: 700;
}
.square{
    width: 80px;
    height: 80px;
    background: #f25;
    float: left;
    margin: 2px;
    font-size:50px ;
    text-align: center;

}
.square:hover{
    background:#000 ;
    cursor: pointer;
}